asn1crypto==0.24.0
Babel==2.9.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
defusedxml==0.5.0
Django==2.0.3
django-allauth==0.35.0
django-nexmo==2.0.0a1
django-phonenumber-field==2.0.0
django-rest-auth==0.9.3
djangorestframework==3.7.7
djangorestframework-jsonapi==2.4.0
djangorestframework-jwt==1.11.0
idna==2.6
inflection==0.3.1
nexmo==2.0.0
oauthlib==2.0.7
phonenumberslite==8.9.2
pkg-resources==0.0.0
psycopg2==2.7.4
pycparser==2.18
PyJWT==1.6.1
PySocks==1.6.8
python3-openid==3.1.0
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
twilio==6.11.0
urllib3==1.22
